/* Page as Paragraphs Styles */

.dropdown-menu-posts-as-paragraphs {

    padding: .5rem;
    margin: 0 0 1rem;
    font-size: 1rem;
    font-family: inherit;
    line-height: normal;
    color: #00507D;
    background-color: #fafafa;
    border-radius: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-size: 9px 6px;
    background-position: right .5rem center;
    background-repeat: no-repeat;
    display: block;
    border: 2px solid #00507D;
    text-decoration: none;

}

.dropdown-menu-posts-as-paragraphs a.trigger {

    display: block;
    color: #00507D;
    text-decoration: none;
    position: relative;
    font-weight: bold;

}

.dropdown-menu-posts-as-paragraphs a.trigger:after {

    border-color: #00507D transparent transparent transparent;
    border-style: solid;
    content: "";
    display: block;
    height: 0;
    position: absolute;
    top: 50%;
    width: 0;
    border-width: 0.38889rem;
    margin-top: -0.13889rem;
    right: 0;
}

.dropdown-menu-posts-as-paragraphs a {

    display: block;
    color: #8a8a8a;
    text-decoration: none;


}

.dropdown-menu-posts-as-paragraphs .menu-items {

    display: none;
    border-top: 1px solid #00507D;
    margin-top: 10px;
    padding-top: 10px;
    list-style-type: none;
    margin-bottom: 0;
}

.dropdown-menu-posts-as-paragraphs .menu-items a {
    color: #00507D;
    text-decoration: underline;
}

.dropdown-menu-posts-as-paragraphs .menu-items a:hover {
    color: #093654;
    text-decoration: underline;
}

/* "Inverted" state of dropdown-menu-posts-as-paragraphs  */

.dropdown-menu-posts-as-paragraphs--inverted {

    padding: 1rem 1rem .5rem 1rem;
    margin: 0 0 1rem;
    font-size: 1rem;
    font-family: inherit;
    line-height: normal;
    color: #FFFFFF;
    background-color: #fafafa;
    border-radius: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-size: 9px 6px;
    background-position: right .5rem center;
    background-repeat: no-repeat;
    background-color: #00507D;
    display: block;
    border: 2px solid #00507D;
    text-decoration: none;

}

.dropdown-menu-posts-as-paragraphs--inverted a.trigger {

    display: block;
    color: #FFFFFF;
    text-decoration: none;
    position: relative;
    font-weight: bold;
    padding-bottom: 0.3rem;
    margin-bottom: 0;
}

.dropdown-menu-posts-as-paragraphs--inverted a.trigger.collapsed:after,
.dropdown-menu-posts-as-paragraphs--inverted a.trigger:after {

    border-color: #FFFFFF transparent transparent transparent;
    border-style: solid;
    content: "";
    display: block;
    height: 0;
    position: absolute;
    top: 40%;
    width: 0;
    border-width: 0.38889rem;
    margin-top: -0.13889rem;
    right: 0;
}

.dropdown-menu-posts-as-paragraphs--inverted a.trigger.uncollapsed:after {

    top: initial;
    bottom: 45%;
    border-color: transparent transparent #FFFFFF transparent;

}

.dropdown-menu-posts-as-paragraphs--inverted a {

    display: block;
    color: #FFFFFF;
    text-decoration: none;

}

.dropdown-menu-posts-as-paragraphs--inverted .menu-items {

     display: none;
     border-top: 1px solid #FFFFFF;
     margin-top: 10px;
     padding-top: 10px;
     list-style-type: none;
     margin-bottom: 0;
 }

.dropdown-menu-posts-as-paragraphs--inverted .menu-items li {
    border-bottom: 1px solid #FFFFFF;
    padding-bottom: 0.7rem;
    margin-bottom: 0.7rem;
    list-style: none;
}

.dropdown-menu-posts-as-paragraphs--inverted .menu-items li a {
    color: #FFFFFF;
    text-decoration: none;
}

.dropdown-menu-posts-as-paragraphs--inverted .menu-items li a:hover {
    color: #FFFFFF;
    text-decoration: underline;
}

.dropdown-menu-posts-as-paragraphs--inverted .menu-items li:last-child {
    color: #FFFFFF;
    border-width: 0;
    margin-bottom: 0;
    padding-bottom: 0;
}

/* END: "Inverted" state of dropdown-menu-posts-as-paragraphs  */

.dropdown-menu-posts-as-paragraphs--floating {
    position: fixed;
    top: 0px;
    border-left-width: 0;
    border-right-width: 0;
    border-top-width: 0;
    width: 100%;
    left: 0;
}

.posts-as-paragraphs-read-more-link {
    margin-bottom: 20px;
}

nav.menu-posts-as-paragraphs {

}

nav.menu-posts-as-paragraphs ul {

}

nav.menu-posts-as-paragraphs ul li {
    border-bottom: 1px solid #f58220;
    padding-bottom: 0.7rem;
    margin-bottom: 0.7rem;
    font-size: 1.1rem;
    list-style: none;
}

nav.menu-posts-as-paragraphs ul li a {
    text-decoration: none;
}

nav.menu-posts-as-paragraphs ul li a.current-post {
    font-weight: bold;
}

.menu-posts-as-paragraphs li .fa {
    font-size: 0.85rem !important;
    color: #000000;
}

.dropdown-menu-posts-as-paragraphs li .fa {
    font-size: 0.85rem !important;
    color: #FFFFFF;
}

/* @media queries --------- ---------- ---------- ---------- ---------- ---------- ---------- ---------- ---------- */
/* orientation - ---------- ---------- ---------- ---------- ---------- ---------- ---------- ---------- ---------- */
@media only screen and (orientation: landscape) {
}
@media only screen and (orientation: portrait) {
}

/* custom */
@media only screen and (max-width: 357px) { /* <-- ipod */
}
@media only screen and (min-width: 358px) { /* <-- bigger than ipod */
}

/* Small screens ------- ---------- ---------- ---------- ---------- ---------- ---------- ---------- ---------- */
@media only screen {
    /* small-padding */
    .small-padding-1 {padding:1px;} .small-padding-2 {padding:2px;} .small-padding-3 {padding:3px;} .small-padding-4 {padding:4px;} .small-padding-5 {padding:5px;} .small-padding-6 {padding:6px;} .small-padding-7 {padding:7px;} .small-padding-8 {padding:8px;} .small-padding-9 {padding:9px;} .small-padding-10 {padding:10px;} .small-padding-11 {padding:11px;} .small-padding-12 {padding:12px;} .small-padding-13 {padding:13px;} .small-padding-14 {padding:14px;} .small-padding-15 {padding:15px;} .small-padding-16 {padding:16px;} .small-padding-17 {padding:17px;} .small-padding-18 {padding:18px;} .small-padding-19 {padding:19px;} .small-padding-20 {padding:20px;} .small-padding-21 {padding:21px;} .small-padding-22 {padding:22px;} .small-padding-23 {padding:23px;} .small-padding-24 {padding:24px;} .small-padding-25 {padding:25px;} .small-padding-26 {padding:26px;} .small-padding-27 {padding:27px;} .small-padding-28 {padding:28px;} .small-padding-29 {padding:29px;} .small-padding-30 {padding:30px;}
    /* small 20 column grid - based on 5% increments */
    .small-5-percent {width:5%;} .small-10-percent {width:10%;} .small-15-percent {width:15%;} .small-20-percent {width:20%;} .small-25-percent {width:25%;} .small-30-percent {width:30%;} .small-35-percent {width:35%;} .small-40-percent {width:40%;} .small-45-percent {width:45%;} .small-50-percent {width:50%;} .small-55-percent {width:55%;} .small-60-percent {width:60%;} .small-65-percent {width:65%;} .small-70-percent {width:70%;} .small-75-percent {width:75%;} .small-80-percent {width:80%;} .small-85-percent {width:85%;} .small-90-percent {width:90%;} .small-95-percent {width:95%;} .small-100-percent {width:100%;}
}
@media only screen and (max-width: 39.9375em) { /* <-- max-width 639px - only small screens */

    #row-posts-as-paragraphss aside {
        margin-top: -20px;
    }

}

/* Medium screens ------ ---------- ---------- ---------- ---------- ---------- ---------- ---------- ---------- */
@media only screen and (min-width: 40em) { /* <-- min-width 640px - medium screens and up */
    /* medium-padding */
    .medium-padding-1 {padding:1px;} .medium-padding-2 {padding:2px;} .medium-padding-3 {padding:3px;} .medium-padding-4 {padding:4px;} .medium-padding-5 {padding:5px;} .medium-padding-6 {padding:6px;} .medium-padding-7 {padding:7px;} .medium-padding-8 {padding:8px;} .medium-padding-9 {padding:9px;} .medium-padding-10 {padding:10px;} .medium-padding-11 {padding:11px;} .medium-padding-12 {padding:12px;} .medium-padding-13 {padding:13px;} .medium-padding-14 {padding:14px;} .medium-padding-15 {padding:15px;} .medium-padding-16 {padding:16px;} .medium-padding-17 {padding:17px;} .medium-padding-18 {padding:18px;} .medium-padding-19 {padding:19px;} .medium-padding-20 {padding:20px;} .medium-padding-21 {padding:21px;} .medium-padding-22 {padding:22px;} .medium-padding-23 {padding:23px;} .medium-padding-24 {padding:24px;} .medium-padding-25 {padding:25px;} .medium-padding-26 {padding:26px;} .medium-padding-27 {padding:27px;} .medium-padding-28 {padding:28px;} .medium-padding-29 {padding:29px;} .medium-padding-30 {padding:30px;}
    /* medium 20 column grid - based on 5% increments */
    .medium-5-percent {width:5%;} .medium-10-percent {width:10%;} .medium-15-percent {width:15%;} .medium-20-percent {width:20%;} .medium-25-percent {width:25%;} .medium-30-percent {width:30%;} .medium-35-percent {width:35%;} .medium-40-percent {width:40%;} .medium-45-percent {width:45%;} .medium-50-percent {width:50%;} .medium-55-percent {width:55%;} .medium-60-percent {width:60%;} .medium-65-percent {width:65%;} .medium-70-percent {width:70%;} .medium-75-percent {width:75%;} .medium-80-percent {width:80%;} .medium-85-percent {width:85%;} .medium-90-percent {width:90%;} .medium-95-percent {width:95%;} .medium-100-percent {width:100%;}
}
@media only screen and (min-width: 40em) and (max-width: 63.9375em) { /* <-- min-width 640px and max-width 1023px - medium screens only */
}
@media only screen and (max-width: 63.9375em) { /* <-- max-width 1023px - medium screens and down */
}

/* Large screens  ------ ---------- ---------- ---------- ---------- ---------- ---------- ---------- ---------- */
@media only screen and (min-width: 64em) { /* <-- min-width 1024px - large screens and up */
    /* large-padding */
    .large-padding-1 {padding:1px;} .large-padding-2 {padding:2px;} .large-padding-3 {padding:3px;} .large-padding-4 {padding:4px;} .large-padding-5 {padding:5px;} .large-padding-6 {padding:6px;} .large-padding-7 {padding:7px;} .large-padding-8 {padding:8px;} .large-padding-9 {padding:9px;} .large-padding-10 {padding:10px;} .large-padding-11 {padding:11px;} .large-padding-12 {padding:12px;} .large-padding-13 {padding:13px;} .large-padding-14 {padding:14px;} .large-padding-15 {padding:15px;} .large-padding-16 {padding:16px;} .large-padding-17 {padding:17px;} .large-padding-18 {padding:18px;} .large-padding-19 {padding:19px;} .large-padding-20 {padding:20px;} .large-padding-21 {padding:21px;} .large-padding-22 {padding:22px;} .large-padding-23 {padding:23px;} .large-padding-24 {padding:24px;} .large-padding-25 {padding:25px;} .large-padding-26 {padding:26px;} .large-padding-27 {padding:27px;} .large-padding-28 {padding:28px;} .large-padding-29 {padding:29px;} .large-padding-30 {padding:30px;}
    /* Large 20 column grid  - based on 5% increments */
    .large-5-percent {width:5%;} .large-10-percent {width:10%;} .large-15-percent {width:15%;} .large-20-percent {width:20%;} .large-25-percent {width:25%;} .large-30-percent {width:30%;} .large-35-percent {width:35%;} .large-40-percent {width:40%;} .large-45-percent {width:45%;} .large-50-percent {width:50%;} .large-55-percent {width:55%;} .large-60-percent {width:60%;} .large-65-percent {width:65%;} .large-70-percent {width:70%;} .large-75-percent {width:75%;} .large-80-percent {width:80%;} .large-85-percent {width:85%;} .large-90-percent {width:90%;} .large-95-percent {width:95%;} .large-100-percent {width:100%;}
}
@media only screen and (min-width: 64em) and (max-width: 74.9375em) { /* <-- min-width 1024px and max-width 1199px - only large screens */
}
@media only screen and (max-width: 74.9375em) { /* <-- max-width 1199px - large screens and down */
}

/* XLarge screens  ----- ---------- ---------- ---------- ---------- ---------- ---------- ---------- ---------- */
@media only screen and (min-width: 75em) { /* <-- min-width 1200px - xxlarge screens and up */
}
@media only screen and (min-width: 75em) and (max-width: 89.9375em) { /* <-- min-width 1200px and max-width 1439px - xxlarge screens only */
}
@media only screen and (max-width: 89.9375em) { /* <-- max-width 1439px - xxlarge screens and down */
}

/* XXLarge screens  ----- ---------- ---------- ---------- ---------- ---------- ---------- ---------- ---------- */
@media only screen and (min-width: 90em) { /* <-- min-width 1440px - xxlarge screens and up */
}

/* Page as Paragraphs Styles */